.dotted-div { border-bottom: 2px dotted; border-color: #9e9e9e; margin-bottom: 25px;}
.popup { width: 600px; height: auto; box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%); margin-left: auto!important; margin-right: auto!important; padding: 1.5rem!important; border-radius: 0.25rem!important; background-color: #fff!important; color: #414658!important; box-sizing: border-box;}