<div class="popup">
    <div class="grid-b-space">
        <h4 class="mb-0">Addition Form</h4>
    </div>

    <form [formGroup]="additionForm">
        <div class="form-group grid-b-space">
            <div class="form-group">
                <label for="">First Number</label>
                <input type="text" class="form-control" id="" formControlName="firstNumber">
                <small class="text-danger" *ngIf="submitted && f.firstNumber.errors">Required*</small>
            </div>
            <div class="form-group">
                <label for="">Second Number</label>
                <input type="text" class="form-control" id="" formControlName="secondNumber">
                <small class="text-danger" *ngIf="submitted && f.secondNumber.errors">Required*</small>
            </div>
            <div class="form-group">
                <label for="">Final Output</label>
                <input type="text" class="form-control" id="" formControlName="finalOutput">
            </div>
        </div>
    </form>



    <div class="d-flex">
        <button class="btn bg-primary mr-3" (click)="submit()">Close</button>
    </div>

    <app-child-popup [fisrtNumberValue]="firstNumberValue" [secondNumberValue]="secondNumberValue"
        (getResponse)="getResponse($event)"></app-child-popup>

    <h3>{{result}}</h3>
</div>