/* You can add global styles to this file, and also import other style files */


@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.h4, h4 { font-size: 1.125rem;}
.grid-b-space { margin-bottom: 30px;}
.btn { color: #fff!important; font-size: .875rem; text-transform: capitalize;}
.btn-outline-secondary { color: #a2b8cc !important; border-color: #6c757d !important;}